$purple: #1C1F83;
$lightpurple: #4250BF;
$darkpurple: #001832;
$darkpurplebg: #252B42;
$logopurple: #263396;
$linkpurple: #1C2085;
$activepurple: #5454D4;
$socialsblue: #63C7FF;
$blue: #38A5DB;
$gray: #45515F;
$formsgray: #576677;
$buttonsgray: #7F8B98;
$modalclose: #828282;
$modalscroll: transparentize($color: #2C3676, $amount: 0.6);
$scrollsupport: #aaaec8;
$linkblue: #0F81FF;
$dark: transparentize($color: #011226, $amount: 0.5);
$white: #ffffff;
$iconborder: transparentize($color: #E7E7E7, $amount: 0.7);

$footergradient: linear-gradient(180deg, #FAFBFF 0%, #EFF1F9 41.68%, #E9ECF6 49.59%, #CED3E8 93.91%);